/* CUSTOM PROPS */
:root {

  /* Colors */
  --darkgray-color: #2d3436;
  --mediumgray-color: #636e72;
  --lightgray-color: #f7f7f7;
  --red-color: #e7898e;
  --green-color: #97c277;
  --orange-color: #eead47;
  --lightblue-color: #76b7dd;
  --purple-color: #b491d1;}

/* Header */
.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* CONTENT */
#content {
  z-index: 100;
  padding-top: calc(112px + 2rem);
}

/* FLEX GRID */
.flex-grow {
  flex-grow: 1;
}

/* TYPOGRAPHY */
.text-medium-gray {
  color: var(--mediumgray-color);
}

/* BACKGROUNDS */
.bg-lightgray {
  background-color: var(--lightgray-color);
}

.bg-darkgray {
  background-color: var(--darkgray-color);
}

.bg-red {
  background-color: var(--red-color);
}

.bg-orange {
  background-color: var(--orange-color);
}

.bg-blue {
  background-color: var(--lightblue-color);
}

.bg-purple {
  background-color: var(--purple-color);
}

/* UTILITIES */
.cursor-pointer {
  cursor: pointer;
}

.separator-50 {
  height: 50px;
}

.rounded-top-30 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.rounded-bottom-30 {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rounded-15 {
  border-radius: 15px;
}

.rounded-30 {
  border-radius: 30px;
}

/* NAVBAR  */
#nav-collapse {
  margin-left: 100px;
}

#navbar #left-side li.nav-item {
  margin-left: 30px;
}

@media only screen and (max-width: 1336px) {
  #navbar #left-side li.nav-item {
    margin-left: 0px;
  }
}

#navbar #logo-wrapper {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #918e91;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

#logo-wrapper {
  background-color: #918e91 !important;
}

#logo-wrapper img {
  height: 85%;
}

/* STATUS BAR  */
#statusbar button[class^='btn-']:hover,
#statusbar button[class*=' btn-']:hover {
  color: #fff;
  filter: brightness(115%);
  border-color: #ffffff !important;
  transition: all ease 0.3s;
}

#statusbar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
}

#statusbar .separator {
  width: 85px;
  margin-right: 1rem;
}

#logo-wrapper {
  width: 100px;
  height: 100px;
  background-color: #918e91;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin: auto;
}

#logo-wrapper img {
  margin: auto;
  height: 90%;
}

/* CARD LIST */
.card-list hr.separator {
  background: #979797;
}

.card-list .card:hover {
  box-shadow: 0 8px 24px 0 #d0dfe4;
  background: white;
}

.card-list .card img {
  filter: brightness(90%);
  transition: all ease 0.3s;
}

.card-list .card:hover img {
  filter: brightness(100%);
}

.card-list .card-body {
  padding: 1vw;
}

.card-list .card-title {
  max-width: 90%;
  margin-bottom: 0rem;
}

.card-list .viewers-dropdown>button {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #b2bec3;
}

.card-list .viewers-dropdown {
  width: 50%;
}

.card-list .card-button {
  overflow: hidden;
}

.card-list .card-button {
  margin-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem !important;
  padding-top: 0.1rem !important;
}

.card-list .card-button .b-icon {
  font-size: 1.1em;
  margin-right: 0.2rem;
}

.card-list .card-button span {
  font-size: 1em;
  margin-right: 0.3rem;
}


.text-state {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: calc(0.8rem + 0.2vw);
  color: #89ce6d;
}

.card-list .viewers-dropdown>button::after {
  margin-top: 0.6em;
}

.card-list .viewers-dropdown ul.dropdown-menu {
  padding: 0;
}

.card-list .viewers-dropdown ul.dropdown-menu a {
  padding: 3px 10px;
}

.card-list .viewers-dropdown ul.dropdown-menu li:not(:first-child) {
  border-top: 1px solid lightgray;
}

.card-list .dropdown-inactive button {
  background-color: darkgrey;
}

.card-list .dropdown-wait button {
  background-color: var(--orange-color);
}

.card-list .dropdown-active button {
  background-color: #97c277;
}

.blink button {
  animation: 1s alternate 4 blink-animation;
  -webkit-animation: 1s alternate 4 blink-animation;
}

@keyframes blink-animation {
  to {
    background-color: #97c277;
  }
}

@-webkit-keyframes blink-animation {
  to {
    background-color: #97c277;
  }
}

.machine-notification-bar {
  padding: 1px 0;
  min-height: 34px;
}

.notification-bar {
  top: -34px;
  position: relative;
}

/* CARD */
.card-list .card {
  box-shadow: 0 8px 24px 0 #dfe6e9;
  border: solid 1px #e6ecf2;
  border-radius: 20px;
  height: 100%;
  transition: all ease 0.5s;
  background: #f7f7f7;
  margin-bottom: 1.5rem !important;
  line-height: 1;
}

.card-list .card .booking-notification {
  background-color: var(--orange-color) !important;
}

.card-list .card .state-on {
  background-color: #97c277;
}

.card-list .card .state-off {
  background-color: #dde4e4;
}

.card-list .card .state-error {
  background-color: #e7898e;
}

.card-list .card .state-loading {
  background-color: #f1cc90;
}

.card-list .card .state-failed {
  background-color: #fa6f6f;
}

.card-list .card .info-icon {
  top: 20px;
  right: 50px;
  fill: white;
  z-index: 100 !important;
}

.card-list .card .danger-icon {
  top: 20px;
  right: 25px;
  fill: var(--red-color);
  z-index: 100 !important;
}


.card-list .card .info-icon-left {
  top: 20px;
  left: 25px;
  fill: white;
  z-index: 100 !important;
}

.card-list .card .card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-list .card .startedHighlight {
  background-color: #EAF5E1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-list .card .serverHighlight {
  background-color: #f7eac6;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* DEPLOYMENTS */

.visibleHighlight {
  background-color: #EAF5E1;
}

.table-list .visibleHighlight {
  background-color: #EAF5E1;
  box-shadow: 0 2px 4px 0 #b2bec3;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* BUTTONS */

.btn {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.b-calendar-grid .btn {
  box-shadow: 0px 0px !important;
}

.btn-green {
  color: #fff;
  background-color: #87ad69;
  border: none !important;
  transition: all ease 0.3s;
}

.btn-green:focus {
  color: #fff;
  background-color: #a8d884 !important;
  border: none !important;
  box-shadow: none !important;
  transition: all ease 0.3s;
}

.btn-green:hover {
  color: #fff;
  background-color: #a2d17d !important;
  border-color: #97c277 !important;
}

.btn-green:active {
  color: #fff;
  background-color: #a8d884 !important;
  border-color: #97c277 !important;
}

.btn-red {
  color: #fff;
  background-color: #d88085 !important;
  border: none !important;
}

.btn-red:focus {
  color: #fff;
  background-color: #e7898e !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-red:hover {
  color: #fff;
  background-color: #e98b8f !important;
  border-color: #e7898e !important;
}

.btn-red:active {
  color: #fff;
  background-color: #e7898e !important;
  border-color: #e7898e !important;
}

.btn-orange {
  color: #fff;
  background-color: #f3bc65 !important;
  border: none !important;
}

.btn-orange:focus {
  color: #fff;
  background-color: #f3bc65 !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-orange:active {
  color: #fff;
  background-color: #f5c16d !important;
  border-color: #f5c16d !important;
}

.btn-blue {
  color: #fff;
  background-color: #76b7dd !important;
  border: none !important;
}

.btn-blue:focus {
  color: #fff;
  background-color: #76b7dd !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-blue:active {
  color: #fff;
  background-color: #84caf3 !important;
  border-color: #84caf3 !important;
}

.btn-dark-blue {
  color: #fff;
  background-color: #6566ca !important;
  border: none !important;
}

.btn-dark-blue:focus {
  color: #fff;
  background-color: #6566ca !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-dark-blue:active {
  color: #fff;
  background-color: #7577e9 !important;
  border-color: #7577e9 !important;
}

.btn-purple {
  color: #fff;
  background-color: var(--purple-color) !important;
  border: none !important;
}

.btn-purple:focus {
  color: #fff;
  background-color: #b491d1 !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-purple:active {
  color: #fff;
  background-color: #b491d1 !important;
  border-color: #b491d1 !important;
}

.btn-grey {
  color: #fff;
  background-color: #5a6268 !important;
  border: none !important;
}

.btn-grey:focus {
  color: #fff;
  background-color: #5a6268 !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-grey:active {
  color: #fff;
  background-color: #5a6268 !important;
  border-color: #5a6268 !important;
}

.isard-tooltip .tooltip-inner {
  background-color: #858581;
}

.arrow::before {
  border-bottom-color: #858581 !important;
  border-top-color: #858581 !important;
}

.selectedView {
  background-color: #c8c8c4;
  border-radius: 10px;
}

.nav-tabs .nav-link.active {
  background-color: transparent !important;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-color: black;
  border-bottom-width: 2px;
  font-weight: bold;
}

.nav-tabs .nav-link {
  color: #495057;
}

.status-spinner {
  color: var(--orange-color) !important
}

.status-green {
  color: #87ad69
}

.status-orange {
  color: var(--orange-color)
}

.status-red {
  color: #e7898e
}

.status-gray {
  color: #495057;
}

.table-action-button {
  width: 8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* DROPDOWN */
.item-spinner {
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

/* LOGIN */
.right-separator-border:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 1px;
  border-right: magenta;
}

/* DEPLOYMENT LOGO */
#deployment-logo {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d5d5cd;
  border-radius: 50%;
}

/* Form new desktop */
.main-container {
  margin-top: 7rem !important;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.tab-content {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.scrollable-div {
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-div {
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

.table-scrollable-div {
  height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}


.new-templates-list {
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Images */
.image-wrapper img {
  filter: brightness(80%);
  transition: all ease 0.3s;
}

.image-wrapper .desktop-image {
  background-color: #ffffff !important;
  transition: all ease 0.3s;
}

.image-wrapper img:hover {
  filter: brightness(100%);
  background-color: #0c8ac5 !important;
  cursor: pointer;
}

.image-wrapper .selected-image {
  filter: brightness(100%);
  background-color: #0cc528 !important;
  cursor: pointer;
}

.loading-cursor {
  cursor: wait !important;
}

.list-orange-bar > td:first-child {
  border-radius: 11px;
  border-left: 10px solid var(--orange-color) !important;
}

.list-red-bar > td:first-child {
  border-radius: 11px;
  border-left: 10px solid #dc3545 !important;
}