<style>
   [id^=modal_add_] .selected {
      background-color: #e0f1af !important;
  }

  [id^=modal_add_] tr {
      cursor: pointer;
  } 

  .my-error{
      margin-top: 5px;
      color: #B94A48 !important;
      background-color: #F2DEDE !important;
      border: 1px solid #EED3D7 !important;
      padding: 10px;
  }
</style>

<div class="modal fade" id="modalAddHyper" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">   
               <button type="button" class="close" 
                  data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-plus fa-1x"></i> <i class="fa fa-rocket"> </i> Add new Hypervisor
               </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
               <form id="modalAdd" class="form-horizontal form-label-left">
                  <div class="x_panel">
                        <div class="x_content">
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">Name <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="id" class="form-control col-md-7 col-xs-12" maxlength="127" pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[2, 127]" name="id" placeholder="Identification name" required="required" type="text">
                              </div>
                           </div>
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <textarea id="description" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                              </div>
                           </div>
                     </div>
                  </div>

                  <div class="x_panel">
                           <div class="x_title">
                              <h4>Network ssh monitoring info<small></small></h4>
                              <ul class="nav navbar-right panel_toolbox">
                                 <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                 </li>
                              </ul>
                              <div class="clearfix"></div>
                           </div>
                           <div class="x_content">

                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hostname">Hostname <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="hostname" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="hostname" placeholder="Network ip/dns name" required="required" type="text">
                              </div>
                           </div>

                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">User <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="user" class="form-control col-md-7 col-xs-12" maxlength="80" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 80]" name="user" placeholder="User used to connect" required="required" type="text">
                              </div>
                           </div>
                           
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SSH Port <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <input id="port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="port" placeholder="SSH port" required="required" type="text">
                              </div>
                           </div>
                                                
                     </div>  
                  </div>

                  <div class="x_panel">
                        <div class="x_title">
                           <h4>Capabilities & Pools<small></small></h4>
                           <ul class="nav navbar-right panel_toolbox">
                              <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                              </li>
                           </ul>
                           <div class="clearfix"></div>
                        </div>

                        <div class="x_content"> 
                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-disk_operations">Disk operations
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="checkbox">
                                 <label class="">
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                       <input type="checkbox" id="capabilities-disk_operations" name="capabilities-disk_operations" class="flat capabilities_disk_operations"  style="position: absolute; opacity: 0;">
                                       <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                       </ins>
                                    </div> Select if it can operate desktop disks
                                 </label>
                              </div>                
                              </div>
                           </div>

                           <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-hypervisor">Hypervisor
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="checkbox">
                                 <label class="">
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                       <input type="checkbox" id="capabilities-hypervisor" name="capabilities-hypervisor" class="flat capabilities_hypervisor"  style="position: absolute; opacity: 0;">
                                       <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                       </ins>
                                    </div> Select if can start desktops
                                 </label>
                              </div> 
                              </div>                                              
                           </div>

                           <div id="viewer_fields" style="display:none;">
                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-static">Web host
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input  id="viewer-static" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-static" placeholder="IP/DNS for isard (static) host" type="text">
                                 </div>
                              </div> 
                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_video">Video proxy host (squid/websockify)
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-proxy_video" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_video" placeholder="IP/DNS for video server" type="text">
                                 </div>
                              </div>  

                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SPICE (squid) external port <span class="required">*</span>
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-spice_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-spice_ext_port" placeholder="Default 80" required="required" type="text" value="80">
                                 </div>
                              </div>

                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">HTML5 (websockify) external port <span class="required">*</span>
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-html5_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-html5_ext_port" placeholder="Default 443" required="required" type="text" value="443">
                                 </div>
                              </div>

                              <div class="item form-group">
                                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_hyper_host">Hypervisor hostname from video proxy
                                 </label>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="viewer-proxy_hyper_host" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_hyper_host" placeholder="IP/DNS from video proxy" type="text">
                                 </div>
                              </div>
                           </div>

                        </div>

                        <div class="x_content">
                           <div id="checkbox_add_error" style="display:none" class="alert alert-danger alert-dismissible " role="alert">
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                               </button>
                               <div id="checkbox_add_error_html"></div>
                           </div>
                       </div>
                                                   
                     <div class="item form-group">
                           <label>Pools:</label>
                              <select class="form-control" id="hypervisors_pools_dropdown" name="hypervisors_pools">
                              </select>
                     </div>                     
                  </div>

               </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                   <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                  <button id="send" type="button" class="btn btn-success">Create hypervisor</button>
               </ul>
           </div>
         </div>
   </div>
</div>

<div class="modal fade" id="modalEditHyper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">   
            <button type="button" class="close"
               data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-pencil"></i> <i class="fa fa-rocket"></i> Edit hypervisor
            </h4>
         </div>
            
         <!-- Modal Body -->
         <div class="modal-body">
               
            <form id="modalEdit" class="form-horizontal form-label-left">
               <div class="x_panel">
                  <div class="x_content">
                     <input type="hidden" id="id" name="id"/>                        
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="fake_id" class="form-control col-md-7 col-xs-12" maxlength="127" pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 127]" name="fake_id" placeholder="Identification name" required="required" type="text" disabled>
                        </div>
                     </div>
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="description" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>
                  </div>
               </div>
            
               <div class="x_panel">
                  <div class="x_title">
                     <h4>Network ssh monitoring info<small></small></h4>
                     <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                     </ul>
                     <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hostname">Hostname <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="hostname" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="hostname" placeholder="Network ip/dns name" required="required" type="text">
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">User <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="user" class="form-control col-md-7 col-xs-12" maxlength="80" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 80]" name="user" placeholder="User used to connect" required="required" type="text">
                        </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SSH Port <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="port" placeholder="SSH port" required="required" type="text">
                        </div>
                     </div>     
                  </div>  
               </div>

               <div class="x_panel">
                  <div class="x_title">
                     <h4>Capabilities & Pools<small></small></h4>
                     <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        </li>
                     </ul>
                     <div class="clearfix"></div>
                  </div>
                  <div class="x_content"> 

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-disk_operations">Disk operations
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="capabilities-disk_operations" name="capabilities-disk_operations" class="flat capabilities_disk_operations"  style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div> Select if it can operate disks
                           </label>
                        </div>
                        </div>
                     </div>

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="capabilities-hypervisor">Hypervisor
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="capabilities-hypervisor" name="capabilities-hypervisor" class="flat capabilities_hypervisor"  style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div> Select if can launch desktops
                           </label>
                        </div>
                        </div>
                     </div>

                     <div id="viewer_fields" style="display:none;">
                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-static">Web host
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input  id="viewer-static" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-static" placeholder="IP/DNS for isard (static) host" type="text">
                           </div>
                        </div> 
                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_video">Video proxy host (squid/websockify)
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-proxy_video" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_video" placeholder="IP/DNS for video server" type="text">
                           </div>
                        </div>  

                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">SPICE (squid) external port <span class="required">*</span>
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-spice_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-spice_ext_port" placeholder="Default 80" required="required" type="text">
                           </div>
                        </div>

                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="port">HTML5 (websockify) external port <span class="required">*</span>
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-html5_ext_port" class="form-control col-md-7 col-xs-12" data-parsley-range='[1, 65535]' name="viewer-html5_ext_port" placeholder="Default 443" required="required" type="text">
                           </div>
                        </div>

                        <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="viewer-proxy_hyper_host">Hypervisor hostname from video proxy
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="viewer-proxy_hyper_host" class="form-control col-md-7 col-xs-12" maxlength="255" pattern="[-_.a-zA-Z0-9]+$" data-parsley-length="[2, 255]" name="viewer-proxy_hyper_host" placeholder="IP/DNS from video proxy" type="text">
                           </div>
                        </div>
                     </div>

                     <div class="x_content">
                        <div id="checkbox_edit_error" style="display:none" class="alert alert-danger alert-dismissible " role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            <div id="checkbox_edit_error_html"></div>
                        </div>
                    </div>
                                                
                     <div class="item form-group">
                        <label>Pools:</label>
                        <select class="form-control" id="hypervisors_pools_dropdown" name="hypervisors_pools">
                        </select>
                     </div>                     
                  </div>
               </div>
            </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
               <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <button id="send" type="button" class="btn btn-success">Update hypervisor</button>
            </ul>
         </div>
      </div>
   </div>
</div>

<!-- ADD -->
<div class="modal fade" id="modalAddGpu" tabindex="-1" role="dialog" 
   aria-labelledby="modalAddGpu" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-briefcase"> </i> Add new GPU
            </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalAdd" class="form-inline form-label-left">
               <div class="x_panel">
                  <h4><i class="fa fa-info-circle" aria-hidden="true"></i> GPU name and description</h4>
                  <div class="x_content" style="padding: 0px;">
                     <div class="row">
                        <div class="col-md-4 col-xs-12">
                           <label class="control-label" for="name">Name <span class="required">*</span>
                           </label>
                           <input id="name" class="roundbox" maxlength="40" pattern="^[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New GPU name" data-parsley-trigger="change" required type="text" style="width:100%">
                        </div>
                        <div class="col-md-8 col-xs-12">
                           <label class="control-label" for="description">Description <span class="required">*</span>
                           </label>
                           <input id="description" class="roundbox" name="description" placeholder="GPU description"  type="text" style="width:100%">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="x_panel">
                  <h4><i class="fa fa-briefcase" aria-hidden="true"></i> Select a vGPU Profile</h4>
                  <input  id="reservable_type" name="reservable_type" type="hidden" required>
                  <input  id="bookable" name="bookable" type="hidden" required>
                  <table id="modal_add_gpu" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                     <thead>
                        <tr>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Description</th>
                        </tr>
                     </thead>
                     <tbody>
                     </tbody>
                  </table>
                  <div id="datatables-error-status"></div>
               </div>
            </form>
            <!-- Modal Footer -->
            <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                  <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                  </li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                  <li><button id="send" type="button" class="btn btn-success">Create GPU</button></li>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalDeleteProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <!-- Modal Header -->
           <div class="modal-header">
               <h4 class="modal-title">
                   <i class="fa fa-delete fa-1x"> </i> <i class="fa fa-user"> </i>   Disable profile
               </h4>
           </div>

           <!-- Modal Body -->
           <div class="modal-body">

               <form id="modalDeleteProfileForm" class="form-horizontal form-label-left">
                   <input id="item_id" hidden/>
                   <input id="subitem_id" hidden/>
                   <input id="reservable_type" hidden/>
                   <input id="desktops" name="desktops[]" hidden/>
                   <input id="plans" name="plans[]" hidden/>
                   <div class="x_panel">
                       <div class="x_content">
                           <h4 style="color: red"><i class="fa fa-warning"> </i> This profile will be removed from these desktops.</h4>
                           <div class="item form-profile">
                               <table id="table_modal_profile_delete" class="table">
                                   <thead>
                                     <tr>
                                       <th>kind</th>
                                       <th>owner/id</th>
                                       <th>name/date</th>
                                     </tr>
                                   </thead>
             
                                   <tbody>
                                   </tbody>
                                 </table>
                           </div>
                       </div>
                   </div>

               </form>
           </div>
           <!-- Modal Footer -->
           <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                   <li><button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                   <li><button id="send" type="button" class="btn btn-danger">Remove profile</button></li>
               </ul>
           </div>
       </div>
   </div>
</div>

<div class="modal fade" id="modalForcedProfile" tabindex="-1" role="dialog" aria-labelledby="modalForcedProfile" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header" style="padding: 5px;">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-flash"></i> Force GPU Active Profile
            </h4>
         </div>

         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalForcedProfileForm" class="form-horizontal">
               <div class="x_panel">
                  <div class="x_content">
                     <input hidden id="id" name="id"/>
                     <input hidden id="physical_device" name="physical_device"/>
                     <div class="item form-group">
                        <label>Select which GPU profile you want to set: </label>
                        <br>
                        <div class="row">
                           <div class="col-md-8 col-sm-8 col-xs-12">
                              <select id="forced_active_profile" name="forced_active_profile" class="form-control" required>
                              </select> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <label style="color:red">WARNING! If there are started desktops with current active profile, this action will stop them immediately if forcing a different active profile.
                     This action will not consider current plannings of GPU profiles in order to be able to change the active profile.
                  </label>
               </div>
            </form>
         </div>

         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <li><button id="send" type="button" class="btn btn-success">Update active profile</button></li>
            </ul>
        </div>
      </div>
   </div>
</div>