<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Dropzone.js -->
    <link href="/isard-admin/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h3><i class="fa fa-circle-o"></i> Media <small>Upload and manage</small></h3>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="btn-new"><span style="color: #5499c7; "><i class="fa fa-link"></i> Upload from URL</span></a>
        <!-- <li><a class="btn-new-local"><span style="color: #5499c7; "><i class="fa fa-plus"></i><i class="fa fa-hdd-o"></i>  Upload from local</span></a></li>-->
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="media" class="table" width="100%">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Category</th>
            <th>Group</th>
            <th>Progress/Size</th>
            <th>Domains</th>
            <th>Actions</th>
            <th>Id</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>

    {% if current_user.role == 'admin' %}
    <div class="row">
      <div class="x_panel">
        <div class="x_title">
          <h3><i class="fa fa-times"></i> Physical media files <small>Unknown system files scanned from disk</small></h3>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="btn-phy-update" data-panel="storage_physical"><span style="color: #5499c7; "><i class="fa fa-spinner"></i> Read from remote</span></a>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="media_physical" class="table" width="100%">
              <thead>
              <tr>
                <th>Path</th>
                <th>Kind</th>
                <th>Size</th>
                <th>Hyper</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
    
      </div>
    </div>
    {% endif %}

    {% include 'admin/pages/media_modals.html' %}
    {% include '/snippets/alloweds_form.html' %}
    {% include '/admin/pages/media_detail.html' %}
  </div>
</div>

{% endblock %}
{% block pagescript %}
    <script src="/isard-admin/static/js/restful.js"></script>
    <!-- Dropzone.js -->
    <script src="/isard-admin/vendors/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/isard-admin/static/admin/js/media.js"></script>
{% endblock %}
